@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply bg-gray-50 text-gray-900 font-sans antialiased h-full dark:bg-gray-900 dark:text-white transition-colors duration-200;
  }
}